@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300&display=swap');

*{
    margin: 0;
    border: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;

}
:root{
    --color-green:#aacc00;
    --color-white:#fff;
    --color-black:#000;
}
::selection{
    color: var(--color-green);
}
header{
    background: url('./img/nature-photo.jpg') center/cover;
    width: 100%;
    height: 100vh;
}
header .nav{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}
header .nav h1{
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 1px;

}
header .nav strong{
    margin-left: 5px; 
    color: #aacc00;
}
header .menu {
    display: flex;
    
}
header .nav .menu span{
    color: #aacc00;
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: 3px;
}
header .menu__burger .line{
    height: 5px;
    width: 30px;
    background: #fff;
    margin: 3px 0 ;
    border-radius: 1rem;
    margin-left: 10px;
}
