@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300&display=swap');

*{
    margin: 0;
    border: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Dosis', sans-serif;

}
:root{
    --color-green:#aacc00;
    --color-white:#fff;
    --color-black:#000;
    --light-black:#8d99ae;
}
::selection{
    color: var(--color-green);
}
header{
    background: url('./img/nature-photo.jpg') center/cover;
    width: 100%;
    height: 100vh;
}
header .nav{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}
header .nav h1{
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 1px;

}
header .nav strong{
    margin-left: 5px; 
    color: var(--color-green);
}
header .menu {
    display: flex;
    
}
header .nav .menu span{
    color: var(--color-green);
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: 3px;
}
header .menu__burger .line{
    height: 5px;
    width: 30px;
    background: var(--color-white);
    margin: 3px 0 ;
    border-radius: 1rem;
    margin-left: 10px;
}
.main__content{
    display: flex;
    justify-content: space-between;
    padding: 5rem;
}
.main__content .content span{
    color: var(--light-black);
    font-size: 1.3rem;
}
.main__content .content h3{
    font-size: 3rem;
    color: var(--color-white);
}
.main__content .content .buttons{
    margin: 2rem 0 ;
}
.main__content .content .btn{
    color: #fff;
    border: 1px solid  #fff;
    margin: 0 1rem;
    padding: 1rem;
    transition: 0.5s ease all;
}
.main__content .content .btn:hover{
    background: #fff;
    color: #000;
}
.main__content .content a{
    font-size: 1.3rem;
    font-weight: bold;
}
.side__bar a{
    color: #fff;
    font-size: 1.5rem;

}
.side__bar li{
    margin: 2.5rem 0;
}
.side__bar li:hover{
    transform: scale(1.1);
}
    